.field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: .15rem;
}

.input {
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: .25rem .5rem;
}